<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inspire Love Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Inspire Love.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B1B4E681BE97E6D00E1C48A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1B4E911BE9910300E1C48A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1B4EB91BE9913500E1C48A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6C88281B69B12C00F88EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B6C883D1B69B12C00F88EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
